<body>
    <h1 class="mt-4">Dashboard</h1>
    <h1 class="white">Login Successfull...</h1>
    <h1 class="white">Welcome <%= user.name %> 18BIT0434</h1>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
</body>
<style>
    body {
        background-color: gold;
    }

    .white {
        color: red;
    }
</style>